  body {
      background-image: url(./img/background.jpg);
      padding: 0;
      margin: 0;
      background-size: cover;
  }

  h1 {
      font-family: 'Comic Sans MS', 'Comic Sans', cursive;
      font-size: 100px;
      color: rgb(255, 0, 149);
      text-align: center;
  }

  .rodada {
    display: grid;
    place-items: center;
    margin: auto;
    transform: rotate(0.03turn);
    animation: createBox 4s;
  }

  @media (max-width: 650px){
    body {
      background-size: contain;
    }
    h1 {
        font-size: 63px;
    }
    .rodada {
        width: 70%;
        height: 100%;
        top: 40%;
        left: 25%;
    }
}

  @keyframes createBox {
    from {
      transform: scale(0) rotate(365deg);
    }
    to {
      transform: scale(1);
    }
  }

