  body {
      background-image: url(./img/background.jpg);
      padding: 0;
      margin: 0;
      background-size: cover;
  }

  h1 {
      font-family: 'Comic Sans MS', 'Comic Sans', cursive;
      font-size: 100px;
      color: rgb(255, 0, 149);
      text-align: center;
  }


  .rodada {
    animation: createBox 5s;

  }
  @keyframes createBox {
    from {
      transform: scale(0) rotate(365deg);
    }
    to {
      transform: scale(1);
    }
  }

  .rodada {
      display: block;
      position: fixed;
      width: auto;
      height: auto;
      top: 35%;
      left: 30%;
      transform: rotate(370deg) translateZ(0);
  }

@media (max-width: 650px){
    .rodada {
        width: 60%;
        height: 30%;
        top: 40%;
        left: 25%;
    }
    h1 {
        font-size: 63px;
    }
}